
body{
  margin: 0;
  padding: 80px;
  height: 100vh;
  background: rgb(171, 69, 255);
}

.bkRuido{
  background-image: url('./components/img/ruido.gif')  ;
  background-repeat: no-repeat;
  width: auto;
  height: 438px;
  transform: rotate(5deg);
}

.image{
   
}

#slide_1{
   left: 0px; 
   position: absolute;
}
#slide_2{
  
   position: absolute;
}
#slide_3{
   position: absolute;
    
}

#slide_4{
   position: absolute;
    
}
#ruido{
   position: absolute;
  
   
}

#signal{
  
  top:0px;
   position: absolute;
}


